body {
    margin: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 19px;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    text-shadow: 1px 2px;
    background: #9f86c0;
    color: #231942;
    border-radius: 35px;
    border-top: 15px groove #5e548e;
    border-bottom: 15px solid #be95c4;
}

.card:hover {
    Color: hotpink;
}

.border-blue {
    border: 1px dotted blue;
}

img {
    border-radius: 25px;
    border-top: 5px solid #231942;
    border-right: 5px solid #231942;
    
}